[Desktop Entry]
Type=Application
Name=Chạy bằng MâyX Engine
Comment=Chạy file Windows (.exe, .msi) trên mayxcloudos
Exec=/usr/local/bin/mayx-run-exe %f
Icon=wine
Terminal=false
NoDisplay=true
Categories=Utility;
MimeType=application/x-ms-dos-executable;application/x-msdownload;application/vnd.microsoft.portable-executable;application/x-msi;application/x-ms-installer;
